*{
    margin: 0;
    padding: 0;
}

.container-register{
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-color: rgb(19, 2, 2);
    border-style: groove;
    border-radius: 40px;
    padding: 40px;
    margin: 40px;
    background-color: #e0bcdd;
    max-width: 300px;
    min-width: 100px;
}

.paragrafe{background-color: #e0bcdd;}

.input-register{
    width: 150px;
    font-size: 90%;
    padding: 10px 5px; 
    border-style: groove;
    margin: 10px; 
    border-radius: 10px; 
    background-color: white; 
}

.button-register{
    width: 100px;
    font-size: 90%;
    padding: 5px;
    border-style: groove;
    border-color: violet;
    margin: 10px;  
    border-radius: 20px; 
    cursor: pointer;
    background-color: violet;
}

.instruction {
    font-size: small;
    background-color: #e0bcdd;
}

@media (min-width: 500px) {
.container-register{
    margin-left: 120px;
    max-width: 335px;
}
}

@media (min-width: 700px) {
.container-register{
    margin-left: 200px;
    padding: 50px;
    max-width: 365px;
}
}

@media (min-width: 900px) {
.container-register{
    margin-left: 300px;
    max-width: 400px;
}
}

@media (min-width: 1300px) {
.container-register{
    margin-left: 500px;
    max-width: 430px;
}
}

